@{
  ViewData["Title"] = "Dashboard";
}
@model Reservation

<div class="text-center">
  <h1>Dashboard</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">WeddingId</th>
        <th scope="col">Wedders</th>
        <th scope="col">Date</th>
        <th scope="col">Address</th>
        <th scope="col">Created By</th>
        <th scope="col">Functions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Wedding x in @ViewBag.AllWeddings)
      {
        <tr>
          <td>
            <p>@x.WeddingId</p>
          </td>
          <td>
            <p>@x.WedderOne & @x.WedderTwo</p>
          </td>
          <td>
            <p>@x.Date</p>
          </td>
          <td>
            <p>@x.Address</p>
          </td>
          <td>
            <p>@x.CreatedById</p>
          </td>
          @if (@x.CreatedById == @ViewBag.Session_UserId)
          {
            <td><a class="btn btn-danger" href="/weddings/delete/@x.WeddingId">Delete</a></td>
          }
          else
          {
            <td>
              <form class="d-flex flex-column align-items-start m-3" action="/reservations/reserve" method="post">
                <h3>New Reservation</h3>

                <label for="UserId">UserId</label>
                <input asp-for="UserId" value=@ViewBag.Session_UserId>
                <span asp-validation-for="UserId" class="text-danger"></span>

                <label for="WeddingId">WeddingId</label>
                <input asp-for="WeddingId" value=@x.WeddingId>
                <span asp-validation-for="WeddingId" class="text-danger"></span>

                <input type="submit" value="Create" class="btn btn-primary my-3">
              </form>
            </td>

          }
        </tr>
      }

    </tbody>
  </table>

  @* <form action="/reservations/reserve" method="post">
    <input type="hidden" asp-for="UserId" value=@ViewBag.Session_UserId>
    <input type="hidden" asp-for="WeddingId" value="2">
    <input class="btn btn-info" type="button" value="RSVP">
    </form> *@

  @* <form class="d-flex flex-column align-items-start m-3" action="/reservations/reserve" method="post">
    <h3>New Reservation</h3>

    <label for="UserId">UserId</label>
    <input asp-for="UserId" value=@ViewBag.Session_UserId>
    <span asp-validation-for="UserId" class="text-danger"></span>

    <label for="WeddingId">WeddingId</label>
    <input asp-for="WeddingId">
    <span asp-validation-for="WeddingId" class="text-danger"></span>

    <input type="submit" value="Create" class="btn btn-primary my-3">
    </form> *@
</div>