@{
    ViewData["Title"] = "One Wedding";
}

<h1>@ViewBag.OneWedding.WedderOne & @ViewBag.OneWedding.WedderTwo</h1>


@* @foreach (Reservation a in @ViewBag.OneWeddingReservations.UserList)
{
  <p>@a.UserId</p>
} *@
@foreach (Reservation a in @ViewBag.OneWeddingFull.UserList)
{
  <p>@a.User.UserId @a.User.FirstName @a.User.LastName</p>  
 
}


